.app {
  width: 306px;
  margin: 30px auto;
  text-align: center;
  background-color: white;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body {
  background-color: pink;
}
.app h1 {
  font-size: 52px;
}
.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.squares {
  border: solid 1px black;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:42px;
  cursor: pointer;
}
button {
  height: 50px;
  width: 100px;
  font-size:18px;
  margin: 20px 20px 34.84px;
  border-radius: 10px;
  background-color: #ff6666;
  color: white;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
  box-shadow: 10px 8px 10px #888888;
}
button:focus {
  outline:0;
}